html, body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 536px;
  margin: auto;
  position: relative;
}

.logo {
  background: url("/logo.png") no-repeat;
  width: 36px;
  height: 33px;
  background-size: 100%;
  margin-bottom: 35px;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 1.3s forwards;
}

.subtitle {
  margin-top: 25px;
  color: #BDB3CB;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.5;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.5s forwards;
}


a {
  color: inherit;
  text-decoration: underline;
}

p {
  margin: 0.83rem 0;
}

.card {
  border: solid #6F914F;
}
